:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;

  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;

  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;

  --text-dark: #111;
  --text-light: #fff;
  --text-muted: #555;
  --bg-light: #fff;
  --bg-dark: #000;
  --bg-fade: #444;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: var(--text-light);
  background-color: var(--bg-dark);
}


header {
  padding: var(--space-2) var(--space-3);
  border-bottom: 1px solid #eee;
}
.header-inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.logo {
  font-size: var(--size-3);
}

/* Display property is set to 'none' in this css link file since there is no essence and I am to lazy to create another HTML file because I just want to change one style */
.menu-toggle {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}
nav li {
  text-align: center;
}
nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: color 300ms ease;
  font-weight: 500;
}
nav a:hover {
  color: #b916b9;
}

/* This generalises the padding for all 'section' elements
it unifies the spacing alignment */
section {
  padding: var(--space-4) var(--space-2);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.hero-img {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid purple;
  transition: all 0.3s ease;
}
.hero-img:hover {
  border-width: 1;
  box-shadow: 0 0 10px #b916b9;
}
.hero-img img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.hero-text h2 {
  font-size: var(--size-5);
  margin-bottom: var(--space-1);
}
.hero-text span {
  color: #b916b9;
  letter-spacing: 0.2rem;
}
.hero-text h2 span {
  text-shadow: 0 0 30px #b916b9;
}
p.role {
  font-size: var(--size-3);
}
.role span {
  font-size: var(--size-4);
  font-weight: 500;
  text-shadow: 0 0 30px #b916b9;
}
.hero-text p {
  margin-bottom: var(--space-2);
  color: var(--text-light);
}
.about p {
  color: var(--text-light);
  margin-bottom: var(--space-2);
}
.cta-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--text-light);
  border: none;
  padding: var(--space-1);
  border-radius: var(--radius-4);
  background: linear-gradient(to right, purple, #b916b9);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cta-btn:hover {
  box-shadow: 0 0 15px #b916b9;
}

footer {
  padding: var(--space-4) var(--space-2);
  border-top: 1px solid #eee;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.footer-inner a {
  color: var(--text-light);
  text-decoration: none;
  transition: color 300ms ease;
}
.footer-inner a:hover {
  color: #b916b9;
}
.contact-links {
  display: flex;
  gap: var(--space-2);
  font-size: var(--size-3);
}
.ft-nav-items {
  display: flex;
  gap: var(--space-2);
  font-size: var(--size-2);
}
.ft-nav-items a:hover {
  color: #b916b9;
  text-decoration: underline;
}

@media (min-width: 768px) {
   .header-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   }
   nav ul {
    flex-direction: row;
   }

   .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-4);
   }
   .hero-img,
   .hero-text {
    flex: 1;
   }
  .about {
    max-width: 800px;
    margin-inline: auto;
  }
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}