@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;

  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 1.5rem;
  --size-4: 2rem;
  --size-5: 2.5rem;
  --size-6: 3rem;

  --radius-1: 8px;
  --radius-2: 16px;
  --radius-3: 24px;
  --radius-4: 32px;

  --text-dark: #111;
  --text-light: #fff;
  --text-muted: #555;
  --bg-light: #fff;
  --bg-dark: #000;
  --bg-fade: #444;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.6;
  color: var(--text-light);
  background-color: var(--bg-dark);
}

/* This generalises the padding for all 'section' elements
it unifies the spacing alignment */
section {
  padding: clamp(1rem, -0.4rem + 8vw, 2rem) clamp(1rem, 0.3rem + 4vw, 1.5rem);
}
.hero-inner,
.about-inner,
.projects-inner > * {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}
.header-inner {
  padding: clamp(0.3rem, 0.02rem + 1.6vw, 0.5rem) clamp(1.3rem, 0.6rem + 4vw, 1.8rem);
  border-bottom: 1px solid #b916b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.header-logo {
  font-size: clamp(1.5rem, 0.8rem + 4vw, 2rem);
  text-decoration: none;
  color: var(--text-light);
  font-weight: 500;
}
.menu-toggle {
  background: transparent;
  border: none;
  font-size: clamp(1.5rem, 0.8rem + 4vw, 2rem);
  color: var(--text-light);
}
.nav-list {
  display: none;
}
.nav-list ul {
  list-style: none;
  display: flex;
  gap: var(--space-1);
}
.nav-list ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: color 300ms ease;
  font-weight: 500;
}
.nav-list ul li a:hover {
  color: #b916b9;
}

.hero-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
}
.hero-img {
  margin-inline: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  max-width: clamp(9.375rem, 5rem + 25vw, 12.5rem);
  overflow: hidden;
  border-radius: 50%;
  border: 0.188rem solid purple;
  transition: box-shadow 0.3s ease;
}
.hero-img:hover {
  box-shadow: 0 0 0.625rem #b916b9;
}
.hero-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 300ms ease;
}
.hero-img img:hover {
  transform: scale(1.1);
}
.hero-text p,
.about-cont p {
  color: var(--text-light);
  font-size: clamp(0.8rem, 0.52rem + 1.6vw, 1rem);
}
p.description,
p.role {
  font-size: clamp(1.2rem, 0.78rem + 2.4vw, 1.5rem);
  font-weight: 500;
  line-height: 1.2;
}
.hero-text span,
.role span {
  color: #b916b9;
  letter-spacing: 0.05rem;
  text-shadow: 0 0 1.875rem #b916b9;
  font-weight: 700;
  text-shadow: 0 0 30px #b916b9;
  font-size: clamp(1.8rem, 1.52rem + 1.6vw, 2rem);
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: 0.5rem;
}
.project-card {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 3px solid #b916b9;
}
.project-img {
  max-width: 100%;
  height: auto;
  transition: transform 300ms ease;
}
.project-card:hover .project-img {
  transform: scale(1.1);
}
.description__wrapper {
  padding: 0.5rem;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  z-index: 3;
}
.cta-btn {
  margin-top: clamp(0.3rem, -0.12rem + 2.4vw, 0.6rem);
  font-size: clamp(0.8rem, 0.52rem + 1.6vw, 1rem);
  font-weight: 500;
  color: var(--text-light);
  border: none;
  padding: clamp(0.4rem, 0.26rem + 0.8vw, 0.5rem) clamp(0.4rem, 0.12rem + 1.6vw, 0.6rem);
  border-radius: clamp(0.25rem, -0.1rem + 2vw, 0.5rem);
  background: linear-gradient(to right, purple, #b916b9);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.cta-btn:hover {
  box-shadow: 0 0 0.938rem #b916b9;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  border-top: 1px solid #eee;
  padding: 2rem 1rem;
}
.social-links a:hover {
  color: #b916b9;
}
.social-links {
  display: flex;
  gap: clamp(0.7rem, 0.28rem + 2.4vw, 1rem);
}
.social-links a {
  font-size: clamp(0.9rem, 0.34rem + 3.2vw, 1.3rem);
  color: var(--text-light);
  text-decoration: none;
  transition: color 300ms ease;
}
.copyright {
  font-size: clamp(0.6rem, 0.32rem + 1.6vw, 0.8rem);
}



@media (min-width: 660px) {
   .header-inner {
    flex-direction: row;
   }
   .menu-toggle,
   .nav-list button {
    display: none;
   }
   .nav-list {
    display: block;
   }

   .hero-inner {
    grid-template-columns: 1fr 2fr;
    gap: var(--space-2);
   }
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}